root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,json,less,glsl}]
charset = utf-8
indent_size = 2
indent_style = space

[*.html]
charset = utf-8
indent_size = 4
indent_style = space
